:root{
  --clr-sand: #f7e4cb;
  --clr-softBlack: #0A121A;
  --clr-olive:#4E6659;
  --clr-white:#FFFFFF;
  --clr-coral: #FF5E6F;
  --ff-primary-body: Arial, Helvetica, sans-serif;
  --ff-smartpointCloud-font: atls-default, sans-serif;
  --ff-primary-headline: 'Impact', sans-serif;
  --clr-lightBlue: #bfdff9;
}

body{
  background-color: #ffffff;
}